/* Estilo para el título h1 */
h1 {
    font-size: 36px;
    color: #333;
    text-align: center;
  }
  body {
    background-color: #4bed05; /* Cambia el color de fondo a tu elección usando un valor hexadecimal o nombre de color */
  }
  /* Estilo para los contenedores de imágenes */
  .image-container {
    display: inline-block; /* Para que los contenedores se muestren en línea */
    width: 300px; /* Ancho de los contenedores (ajusta según tus necesidades) */
    border: 2px solid #333; /* Borde alrededor de los contenedores */
    margin: 10px; /* Espacio entre los contenedores */
    padding: 10px; /* Espacio dentro de los contenedores */
  }
  
  /* Estilo para las imágenes dentro de los contenedores */
  .image-container img {
    display: block;
    max-width: 100%;
    height: auto;
  }